<% content_for(:javascripts) do %>
  <%= async_javascript_include_tag 'home' %>
<% end %>

<%= form_for :redirect, url: redirect_path, method: :get, html: { class: 'js-redirectForm' } do |f| %>
  <label>
    Character
    <%= f.text_field :name, placeholder: 'Character', tabindex: 1, class: 'js-redirectForm-name' %>
  </label>

  <label>
    Region
    <%= f.select :region, region_options, {}, tabindex: 2, class: 'js-redirectForm-region' %>
  </label>

  <label>
    Realm
    <%= f.text_field :realm, placeholder: 'Realm', tabindex: 3, class: 'js-redirectForm-realm' %>
  </label>

  <button>Score Me!</button>
<% end %>

<ul>
  <li><%= link_to 'World', characters_path('world') %></li>

  <% VALID_REGIONS_WITH_REALM.each do |region| %>
    <li><%= link_to region.upcase, characters_path(region) %></li>
  <% end %>
</ul>
