<tr class="Leaderboard-row" <%= tid :character %>>
  <td class="Leaderboard-cell" <%= tid :rank %>>
    <%= character.rank %>
  </td>

  <td class="Leaderboard-cell" <%= tid :class_name %>>
    <span class="u-visuallyHidden"><%= character.class_name %></span>
    <%= image_tag "#{character.css_class_name}.png", alt: "#{character.class_name} icon", class: "ClassIcon" %>
  </td>

  <td class="Leaderboard-cell" <%= tid :name %>>
    <%= link_to character.name, character, class: "FactionLink--#{character.faction}" %>
  </td>

  <td class="Leaderboard-cell" <%= tid :extra_column %>>
    <%= extra_column(character) %>
  </td>

  <td class="Leaderboard-cell" <%= tid :score %>>
    <%= number_with_delimiter character.score %>
  </td>
</tr>
