<tr <%= tid :character %>>
  <td <%= tid :rank %>><%= character.rank %></td>

  <td <%= tid :name %>><%= character.name %></td>

  <td <%= tid :extra_column %>><%= extra_column(character) %></td>

  <td <%= tid :score %>><%= character.score %></td>
</tr>
