<%# frozen_string_literal: true %>
<aside class="Burst Burst--<%= character.rating %>">
  <h1 class="Burst-text" <%= tid :rating %>><%= character.rating %></h1>
  <dl class="Tooltip">
    <dt class="Tooltip-label">± Median:</dt>
    <dd <%= tid :median_difference %>><%= number_with_delimiter character.median_difference %></dd>
  </dl>
</aside>

<header class="CharacterInfo-header CharacterInfo-header--<%= character.css_class_name %> is-<%= character.faction %>">
  <h1 class="CharacterInfo-heading">
    <%= link_to character.info, character.armory_url %>
  </h1>

  <% if character.guild_name %>
    <b class="CharacterInfo-guildName" <%= tid :guild_name %>>
      <%= character.guild_name %>
    </b>
  <% end %>
</header>

<output class="CharacterInfo-score" <%= tid :score %>>
  <%= number_with_delimiter character.score %>
</output>

<table class="Ilvls">
  <thead>
    <tr>
      <th>
        <abbr class="Ilvls-heading" title="Lowest Item Level">Lowest iLvl</abbr>
      </th>
      <th>
        <abbr class="Ilvls-heading" title="Average Item Level">Average iLvl</abbr>
      </th>
      <th>
        <abbr class="Ilvls-heading" title="Highest Item Level">Highest iLvl</abbr>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="Ilvls-cell" <%= tid :min_ilvl %>>
        <%= character.min_ilvl %>
      </td>
      <td class="Ilvls-cell" <%= tid :avg_ilvl %>>
        <%= character.avg_ilvl %>
      </td>
      <td class="Ilvls-cell" <%= tid :max_ilvl %>>
        <%= character.max_ilvl %>
      </td>
    </tr>
  </tbody>
</table>
