<%# frozen_string_literal: true %>
<aside class="Burst Burst--<%= character.rating %>" <%= tid :rating %>>
  <h1 class="Burst-text"><%= character.rating %></h1>
</aside>

<header class="CharacterInfo-header CharacterInfo-header--<%= character.css_class_name %> <%= character.css_faction %>">
  <h1 class="CharacterInfo-heading">
    <%= link_to character.info, character.armory_url %>
  </h1>

  <b class="CharacterInfo-guildName" <%= tid :guild_name %>>
    <%= character.guild_name %>
  </b>
</header>

<output class="CharacterInfo-score" <%= tid :score %>>
  <%= character.score %>
</output>

<table class="Ilvls">
  <thead>
    <tr>
      <th>
        <abbr class="Ilvls-heading" title="Lowest Item Level">Lowest iLvl</abbr>
      </th>
      <th>
        <abbr class="Ilvls-heading" title="Average Item Level">Average iLvl</abbr>
      </th>
      <th>
        <abbr class="Ilvls-heading" title="Highest Item Level">Highest iLvl</abbr>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="Ilvls-cell" <%= tid :min_ilvl %>>
        <%= character.min_ilvl %>
      </td>
      <td class="Ilvls-cell" <%= tid :avg_ilvl %>>
        <%= character.avg_ilvl %>
      </td>
      <td class="Ilvls-cell" <%= tid :max_ilvl %>>
        <%= character.max_ilvl %>
      </td>
    </tr>
  </tbody>
</table>
