<article <%= tid :comment %>>
  <div <%= tid :body %>><%= comment.body %></div>
  <footer>
    <span <%= tid :name %>><%= comment.poster_name || 'Anonymous' %></span>

    <time datetime="<%= comment.created_at.iso8601 %>" <%= tid :posted_at %>>
      <%= comment.created_at.to_date.to_s(:long) %>
    </time>
  </footer>
</article>
