<article class="SecondaryContent-item" <%= tid :comment %>>
  <footer class="Comment-meta">
    <div class="Comment-author" <%= tid :name %>>
      <img src="data:image/png;base64,<%= comment.avatar %>" class="Comment-avatar">
      <%= comment.poster_name %>
    </div>

    <time datetime="<%= comment.timestamp %>" <%= tid :posted_at %>>
      <%= comment.posted_at %>
    </time>
  </footer>

  <div <%= tid :body %>>
    <%= simple_format comment.body %>
  </div>
</article>
