<% content_for(:page_description, t("description.ranking", server: server)) %>
<% content_for(:page_title, t("title.ranking", server: server)) %>

<% content_for(:head) do %>
  <link rel="canonical" href="<%= @ranking.canonical_url %>">
  <link rel="preload" href="<%= image_path("burst-fail.svg") %>" as="image">
  <%= stylesheet_link_tag "ranking" %>
<% end %>

<a href="#recent-comments">
  <aside class="Burst Burst--fail">
    <h1 class="Burst-text">Sup?</h1>
  </aside>
</a>

<nav class="SubHeader">
  <ul class="Navigation">
    <li class="SubHeader-rankingNavItem Navigation-item">
      <%= link_to "World", characters_path("world"), rel: "index" %>
    </li>

    <% unless world_page? %>
      <li class="SubHeader-rankingNavItem Navigation-item">
        <%= link_to region, characters_path(*server_parts.first), rel: ("up" if realm) %>
      </li>
    <% end %>

    <% if realm %>
      <li class="SubHeader-rankingNavItem Navigation-item">
        <%= link_to realm, characters_path(*server_parts) %>
      </li>
    <% end %>
  </ul>

  <ul class="Navigation">
    <% unless @ranking.first_page? %>
      <li class="Navigation-item">
        <%= link_to t("page.prev"), ranking_path(@ranking.page - 1), rel: "prev" %>
      </li>
    <% end %>

    <% unless @ranking.last_page? %>
      <li class="Navigation-item">
        <%= link_to t("page.next"), ranking_path(@ranking.page + 1), rel: "next" %>
      </li>
    <% end %>
  </ul>
</nav>

<table class="Leaderboard">
  <colgroup>
    <col span="1" class="Leaderboard-column">
    <col span="1" class="Leaderboard-column">
    <col span="1" class="Leaderboard-column">
    <col span="1" class="Leaderboard-column">
    <col span="1" class="Leaderboard-column">
  </colgroup>

  <thead>
    <th class="Leaderboard-cell">#</th>

    <th class="Leaderboard-cell">
      <span class="u-visuallyHidden">Class</span>
    </th>

    <th class="Leaderboard-cell">Name</th>

    <th class="Leaderboard-cell" <%= tid :extra_column_name %>>
      <%= @ranking.extra_column_name %>
    </th>

    <th class="Leaderboard-cell">Score</th>
  </thead>

  <tbody><%= render partial: "character_row", collection: @ranking, as: :character %></tbody>
</table>

<% content_for(:secondary_content) do %>
  <% unless realm %>
    <section class="SecondaryContent-panel" id="recent-comments">
      <%= render "recent_comments", comments: @ranking.comments %>
    </section>
  <% end %>
<% end %>
