<%# frozen_string_literal: true %>
<% content_for(:page_title, "(#{@character.rating.upcase}) #{@character.info}") %>

<% content_for(:head) do %>
  <link rel="canonical" href="<%= @character.canonical_url %>">
  <%= preload_link_tag image_path("burst-#{@character.rating}.svg") %>

  <% if @character.rating == 'win' %>
    <link rel="shortcut icon" href="/favicon-win.ico">
  <% end %>

  <%= stylesheet_link_tag 'character' %>
<% end %>

<% content_for(:javascripts) do %>
  <%= async_javascript_include_tag 'action_cable' %>
  <%= async_javascript_include_tag 'character' %>
<% end %>

<nav class="SubHeader">
  <ul class="Navigation">
    <li class="SubHeader-rankingNavItem Navigation-item">
      <%= link_to region, characters_path(*server_parts.first), rel: 'up up' %>
    </li>

    <li class="SubHeader-rankingNavItem Navigation-item">
      <%= link_to realm, characters_path(*server_parts), rel: 'up' %>
    </li>
  </ul>
</nav>

<div class="js-characterContainer" data-id="<%= @character.to_param %>" data-timestamp="<%= @character.updated_at.iso8601(6) %>">
  <%= render @character %>
</div>

<% content_for(:secondary_content) do %>
  <header class="SecondaryContent-heading">
    <h1 class="SecondaryContent-title">
      Comments
      (<span <%= tid :comments_count %>><%= @character.comments_count %></span>)
    </h1>

    <ul class="Navigation">
      <% unless @character.first_page? %>
        <li class="Navigation-item">
          <%= link_to t('page.prev'), character_path(@character, page: page - 1, per_page: params[:per_page]), rel: 'prev' %>
        </li>
      <% end %>

      <% unless @character.last_page? %>
        <li class="Navigation-item">
          <%= link_to t('page.next'), character_path(@character, page: page + 1, per_page: params[:per_page]), rel: 'next' %>
        </li>
      <% end %>
    </ul>
  </header>

  <%= render partial: 'comment', collection: @character.comments %>

  <%= form_for :comment, url: comments_path(@character), html: { class: %w(SecondaryContent-item CommentForm) } do |f| %>
    <%= f.label :body, 'Comment', class: 'u-visuallyHidden' %>
    <%= f.text_area :body, required: true, maxlength: 1000, rows: 5, placeholder: 'Comment', class: 'CommentForm-body' %>

    <div class="CommentForm-row">
      <%= f.label :poster_name, 'Name (optional)', class: 'u-visuallyHidden' %>
      <%= f.text_field :poster_name, maxlength: 15, placeholder: 'Name (optional)', class: 'CommentForm-name' %>

      <button class="CommentForm-submit">Post</button>
    </div>
  <% end %>
<% end %>
