<% content_for(:page_title, "#{@character.name.humanize}, #{@character.level} #{@character.class_name.titleize}") %>

<% content_for(:head) do %>
  <meta name="js-characterData" id="<%= @character.to_param %>" timestamp="<%= @character.updated_at %>">
<% end %>

<% content_for(:javascripts) do %>
  <%= async_javascript_include_tag 'action_cable' %>
  <%= async_javascript_include_tag 'character' %>
<% end %>

<div class="js-characterContainer">
  <%= render @character %>
</div>
