<%# frozen_string_literal: true %>
<h1 class="SecondaryContent-heading">Recent Comments</h1>
<ol>
  <% comments.each do |comment| %>
    <li class="RecentComments-row SecondaryContent-item" <%= tid :comment %>>
      <div>
        <span <%= tid :name %>>
          <%= comment.poster_name %>
        </span>
        on
        <span <%= tid :character_name %>>
          <%= link_to(comment.character_name, character_path(*comment.character_info), class: comment.character_link_class) %>
        </span>
      </div>

      <time datetime="<%= comment.timestamp %>" <%= tid :posted_at %>>
        <%= comment.posted_at %>
      </time>
    </li>
  <% end %>
</ol>
