<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>
      <%= page_title(app_name: 'WTF is My Gear Score?') %>
    </title>

    <meta name="author" content="Alex Baumhoer, Christian Wesselhoeft">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= render 'analytics' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload', async: true, defer: true %>
  </body>
</html>
