<%# frozen_string_literal: true %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>
      <%= page_title(page_title: content_for(:page_title), site_name: t(:site_name), subtitle: t(:slogan)) %>
    </title>

    <%= csrf_meta_tags %>
    <meta name="description" content="<%= content_for(:page_description) %>">
    <meta name="viewport" content="width=470, initial-scale=0.6">

    <%= stylesheet_link_tag 'normalize-rails' %>
    <%= stylesheet_link_tag 'base' %>

    <link rel="preload" href="<%= image_path('logo.svg') %>" as="image">
    <link rel="prefetch" href="<%= javascript_path('action_cable') %>">

    <% CLASS_IMAGES.each do |img_name| %>
      <link rel="prefetch" href="<%= image_path("#{img_name}") %>">
    <% end %>

    <%= yield :head %>
  </head>

  <body>
    <%= render 'flash_messages' %>

    <div class="MainContainer">
      <header class="Header" role="banner">
        <%= link_to :root do %>
          <h1 class="Header-logo"><%= t(:site_name) %></h1>
        <% end %>
      </header>

      <main class="MainContent">
        <div class="MainContent-inner">
          <%= yield %>
        </div>
      </main>

      <div class="SecondaryContent">
        <%= yield :secondary_content %>
      </div>
    </div>

    <footer class="Footer">
      <p>Something broken or just want to chat? Email us: support@wtfismygs.com</p>
    </footer>

    <%= render 'analytics' if secrets.ga_id %>

    <%= async_javascript_include_tag 'base' %>
    <%= yield :javascripts %>
  </body>
</html>
