<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>
      <%= page_title(site_name: SITE_NAME) %>
    </title>

    <meta name="author" content="Alex Baumhoer, Christian Wesselhoeft">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'normalize-rails', media: 'all', 'data-turbolinks-track' => 'reload' %>

    <link rel="prefetch" href="<%= javascript_path('action_cable') %>">

    <%= yield :head %>
  </head>

  <body>
    <h1 role="banner"><%= SITE_NAME %></h1>

    <%= yield %>

    <%= render 'analytics' %>

    <%= async_javascript_include_tag 'turbolinks' %>
    <%= async_javascript_include_tag 'base' %>
    <%= yield :javascripts %>
  </body>
</html>
