<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>
      <%= page_title(site_name: SITE_NAME) %>
    </title>

    <meta name="author" content="Alex Baumhoer, Christian Wesselhoeft">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'normalize-rails', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag 'base', 'data-turbolinks-track' => 'reload' %>

    <%= preload_link_tag image_path('logo') %>
    <link rel="prefetch" href="<%= javascript_path('action_cable') %>">

    <%= yield :head %>
  </head>

  <body>
    <div class="MainContainer">
      <header class="Header" role="banner">
        <%= link_to :root do %>
          <h1 class="Header-logo"><%= SITE_NAME %></h1>
        <% end %>
      </header>

      <main class="MainContent">
        <div class="MainContent-inner">
          <%= yield %>
        </div>
      </main>

      <div class="SecondaryContent">
        <%= yield :secondary_content %>
      </div>
    </div>

    <footer class="Footer">
      <p>A project by Alex Baumhoer and Christian Wesselhoeft</p>
      <p>Something broken or just want to chat? Email us: support@wtfismygs.com</p>
    </footer>

    <%= render 'analytics' %>

    <%= async_javascript_include_tag 'turbolinks' %>
    <%= async_javascript_include_tag 'base' %>
    <%= yield :javascripts %>
  </body>
</html>
